/* Theme,Color,Fonts */
:root {
  --appcolor: #3ac280;
  --text: "Raleway";
  --headingfivehundred: "Museo Sans Rounded 500";
}

html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: "Museo Sans Rounded 500";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 500"),
    url("./assets/fonts/MuseoSansRounded500.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Rounded 300";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 300"),
    url("./assets/fonts/MuseoSansRounded300.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Rounded 700";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 700"),
    url("./assets/fonts/MuseoSansRounded700.woff") format("woff");
}

body {
  font-family: var(--text), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

a {
  color: #000;
}

a:hover {
  color: var(--appcolor);
}

/* Navigation */

nav ul {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--appcolor);
}

.white-bg {
  background-color: #fff;
}

/* Logo */
nav .logo {
  max-width: 217px;
}

nav {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

nav .nav-item .nav-link button {
  background: var(--appcolor) 0 0 no-repeat padding-box;
  border-color: var(--appcolor);
  border-radius: 20px;
  height: 30px;
  padding: 5px 25px;
  letter-spacing: 0;
  font-size: 12px;
  line-height: 16px;
  margin-left: 7%;
  white-space: nowrap;
  min-width: 20px;
}

/* Hero */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
}

header .container {
  position: relative;
  z-index: 2;
}

header .container .d-flex .w-100 .display-3 {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #fff;
}

/* Animated Mouse */
header .container .d-flex .w-100 .middle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .container .d-flex .w-100 .middle .mouse {
  width: 28px;
  height: 42px;
  border: 2px solid #000;
  border-radius: 50px;
}

header .container .d-flex .w-100 .middle .mouse:hover {
  border: 2px solid var(--appcolor);
  cursor: pointer;
}

header .container .d-flex .w-100 .middle .mouse::after {
  content: "";
  width: 2px;
  height: 11px;
  position: absolute;
  top: 30px;
  background: var(--appcolor);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
  margin: 0 auto;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 40px;
  }
}

/* Info Section */

.info-section {
  padding-top: 15px;
}
.row .col-md .info-heading {
  font-family: var(--headingfivehundred), sans-serif;
  font-size: 45px;
  line-height: 58px;
  color: #000;
  letter-spacing: 0;
  background-image: url(assets/images/circle.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  text-align: left;
  padding-top: 21%;
  padding-left: 17%;
  background-position: 0 16px;
}

.row .col-md .info-content {
  font-family: var(--text), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #000;
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.19px;
  opacity: 1;
  padding-top: 19%;
}

/* Image Slider */

.container .image-content {
  margin-top: 50px;
}
.wrapper {
  width: auto;
  min-height: 100vh;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

.before,
.after {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.content-image {
  height: 100%;
}

.after {
  width: 125px;
}

.scroller {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 535px;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 16px;
  background-color: var(--appcolor);
  opacity: 0.9;
  pointer-events: auto;
  cursor: e-resize;
}

.scroller:hover {
  opacity: 1;
}

.scrolling {
  pointer-events: none;
  opacity: 1;
  z-index: 1;
}

.scroller__thumb {
  width: 100%;
  height: 100%;
}

.scroller:before,
.scroller:after {
  content: " ";
  display: block;
  width: 2px;
  height: 270px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
}
.scroller:before {
  top: 100%;
}
.scroller:after {
  bottom: 100%;
}

.scroller {
  border: 5px solid var(--appcolor);
}
.scroller:before,
.scroller:after {
  background: var(--appcolor);
}
